[Desktop Entry]
Name=Facebook
Path=/home/quake/git/nw-apps
Exec=yarn run nw apps/Facebook
Icon=/home/quake/git/nw-apps/apps/Facebook/icon.png
Type=Application
Terminal=false
