[Desktop Entry]
Name=Facebook
Path=/home/quake/git/facebook-nw
Exec=yarn run nw apps/Facebook
Icon=/home/quake/git/facebook-nw/apps/Facebook/icon.png
Type=Application
Terminal=false
