[Desktop Entry]
Name=Google Keep
Path=/home/quake/git/nw-apps
Exec=yarn run nw apps/Google_Keep
Icon=/home/quake/git/nw-apps/apps/Google_Keep/icon.png
Type=Application
Terminal=false
