[Desktop Entry]
Name=Google Calendar
Path=/home/quake/git/nw-apps
Exec=yarn run nw apps/Google_Calendar
Icon=/home/quake/git/nw-apps/apps/Google_Calendar/icon.png
Type=Application
Terminal=false
